:root {
    font-size: 62.5%;
    color: antiquewhite;
    background-color: goldenrod;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: inherit; */
    /* font-family: inherit; */
    /* color: inherit; */
}
body {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    font-family: arial;
}
/* -- HEADER START -- */
header {
    display: flex;
}
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    height: 5rem;
    /* border: 1px solid limegreen; */
    text-align: center;
    background: darkgoldenrod;
}
.active-tab {
    background: goldenrod;
}
/* -- HEADER END -- */

/* ******************** */
/* ******************** */
/* ******************** */
/* ******************** */
/* ******************** */

/* -- SPLASH START -- */
#splash-tile {
    /* grid-column-end: span 2; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    background-image: url("/src/index-images/cantina-band.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.splash-text {
    display: block;
    text-align: center;
}
.h1-h {
    font-size: 4rem;
}
.h2-h {
    margin: .5rem;
    font-size: 2.8rem;
}
.photo-caption {
    position: absolute;
    top: 72vh;
    margin-left: 1.5rem;
    font-style: italic;
}
/* -- SPLASH END -- */

/* -- GRID START -- */
.grid-container {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50vw;
    max-width: 100rem;
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
}
.small-tile {
    text-align: center;
    margin: 2rem;
    border: 1px solid pink;
}
@media only screen and (min-width: 600px) {
    .grid-container {
        grid-auto-rows: auto;
    }
    .small-tile {
        margin: 2rem auto;
        width: 25vw;
        height: 25vw;
    }
}
.img-tile {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100rem;
}
.desc-tile {
    display: flex;
    align-items: center;
}
/* -- GRID END -- */

/* -- TESTIMONIALS START -- */
#testimonials {
    grid-column-end: span 2;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 1.2rem; */
}
.testimony {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 5rem;
    /* border: 1px solid black; */
}
/* -- TESTIMONIALS END -- */

/* ******************** */
/* ******************** */
/* ******************** */
/* ******************** */
/* ******************** */

.h1-m {
    margin: 3rem 0 .7rem 0;
    text-align: center;
    font-size: 4rem;
    color: black;
}
.h2-m {
    text-align: center;
    font-size: 3rem;
    color: black;
}
.menu-item-container {
    margin: 2.5rem auto;
    width: 90vw;
    max-width: 70rem;
    display: flex;
    align-items: center;
    color: black;
    border: .6rem solid black;
}
.menu-text-container {
    margin: auto;
    padding: 0 2rem;
    width: 100%;
    font-weight: bold;
}
.menu-item-name {
    font-size: 2rem;
    margin-bottom: .7rem;
}
.menu-item-desc {
    font-size: 1.6rem;
    /* font-style: italic; */
}
.pic-container {
    height: 10rem;
    width: 10rem;
}
.menu-item-pic {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-left: .6rem solid black;
}