@font-face {
    font-family: "After Disaster";
    src: url("/src/fonts/after_disaster/After_Disaster.otf") format("opentype"),
        url("/src/fonts/after_disaster/After_Disaster.ttf") format("truetype");
}
@font-face {
    font-family: "Nulshock";
    src: url("/src/fonts/nulshock/nulshock_bd.ttf");
}
@font-face {
    font-family: "Aliens Among Us";
    src: url("/src/fonts/aliens_among_us/Aliens\ Among\ Us.otf") format("opentype"),
        url("/src/fonts/aliens_among_us/Aliens\ Among\ Us.ttf") format("truetype");
}
@font-face {
    font-family: "Aliens Among Us";
    src: url("/src/fonts/aliens_among_us/Aliens\ Among\ Us\ Italic.otf") format("opentype"),
        url("/src/fonts/aliens_among_us/Aliens\ Among\ Us\ Italic.ttf") format("truetype");
    font-style: italic;
}
:root {
    font-size: 62.5%;
    color: black;
    background-color: goldenrod;
    overflow: scroll;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: inherit; */
    /* font-family: inherit; */
    /* color: inherit; */
}
body {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    font-family: "After Disaster", Arial;
}
h1 {
    font-size: 4rem;
    font-family: "Aliens Among Us";
}
/* -- HEADER START -- */
header {
    display: flex;
}
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    height: 5rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: .1rem;
    font-family: "Aliens Among Us";
}
.active-tab,
.tab:hover {
    border-bottom: .6rem solid black;
    cursor: pointer;
}
/* -- HEADER END -- */

/* ******************** */
/* ******************** */
/* ******************** */
/* ******************** */
/* ******************** */

/* -- SPLASH START -- */
#splash-tile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 11rem);
    background-image: linear-gradient(0deg, rgba(0,0,0,.5) 50%, #ffffff44 100%),
        url("/src/index-images/cantina-band.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: antiquewhite;
}
.splash-text {
    display: block;
    text-align: center;
}
.h1-h {
    font-size: 4.5rem;
}
.h2-h {
    margin: .5rem;
    font-size: 3rem;
}
.h3-h {
    font-size: 1.6rem;
}
@media only screen and (min-width: 400px) {
    .h1-h {
        font-size: 6rem;
    }
    .h2-h {
        font-size: 4rem;
    }
    .h3-h {
        font-size: 1.8rem;
    }
}
@media only screen and (min-width: 800px) {
    .h1-h {
        font-size: 9rem;
    }
    .h2-h {
        font-size: 5.5rem;
    }
    .h3-h {
        font-size: 2.8rem;
    }
}
.photo-caption {
    position: absolute;
    top: calc(100vh - 11.5rem);
    margin-left: 1.5rem;
    font-style: italic;
    color: antiquewhite;
}
@media only screen and (min-width: 600px) {
    #splash-tile {
        height: calc(100vh - 5rem);
    }
    .photo-caption {
        top: calc(100vh - 5rem);
    }
}
/* -- SPLASH END -- */

/* -- GRID START -- */
.grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: calc(50vw - .35rem);
    gap: .6rem;
    font-size: 1.8rem;
    font-weight: bold;
    background: black;
    color: black;
}
.small-tile {
    text-align: center;
    background: goldenrod;
}
@media only screen and (min-width: 315px) {
    .grid-container {
        font-size: 2rem;
    }
}
@media only screen and (min-width: 500px) {
    .small-tile {
        font-size: 2.8rem;
    }
}
@media only screen and (min-width: 800px) {
    .grid-container {
        grid-auto-rows: auto;
        width: 70.6rem;
        /* border-left: .6rem solid black; */
        /* border-right: .6rem solid black; */
    }
    .small-tile {
        margin: 0 auto;
        width: 35rem;
        height: 35rem;
        font-size: 3rem;
        line-height: 4rem;
    }
}
.img-tile {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.desc-tile {
    padding: 1rem;
    display: flex;
    align-items: center;
}
/* -- GRID END -- */

/* -- TESTIMONIALS START -- */
#testimonials {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    font-size: 2.4rem;
    background: black;
    color: goldenrod;
}
#testimonials-header {
    grid-column-end: span 2;
    margin: 3.3rem auto 2.3rem auto;
    font-family: "Aliens Among Us";
    font-size: 2.8rem;
}
.testimony-wrapper {
    margin-bottom: 3.3rem;
    padding: 0 .35rem;
    text-align: center;
    width: 100%;
    max-width: 35rem;
    height: 100%;
    min-height: 5rem;
}
@media only screen and (min-width: 600px) {
    .testimony-wrapper {
        padding: 0 .5rem;
    }
}
.attribution {
    font-size: 1.6rem;
}
.testimony-left {
    margin-left: auto;
    margin-right: 0;
}
/* -- TESTIMONIALS END -- */

/* ******************** */
/* ******************** */
/* ******************** */
/* ******************** */
/* ******************** */

/* -- MENU START -- */

.h1-m {
    margin: 3rem 0 .8rem 0;
    text-align: center;
}
.h2-m {
    text-align: center;
    font-size: 3rem;
}
.menu-item-container {
    margin: 2.2rem auto;
    width: 90vw;
    max-width: 70rem;
    display: flex;
    align-items: center;
    border: .6rem solid black;
}
.menu-text-container {
    margin: auto;
    padding: 0 2rem;
    width: 100%;
    font-weight: bold;
}
.menu-item-name {
    font-size: 1.6rem;
    margin-bottom: .5rem;
    letter-spacing: .1rem;
    font-family: "Aliens Among Us";
}
.menu-item-desc {
    font-size: 2rem;
    font-weight: initial;
    /* font-style: italic; */
}
.pic-container {
    height: 10rem;
    width: 10rem;
}
.menu-item-pic {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-left: .6rem solid black;
}

/* -- MENU END -- */

/* ******************** */
/* ******************** */
/* ******************** */
/* ******************** */
/* ******************** */

/* -- CONTACT START -- */
.h1-c {
    margin: 3rem;
    text-align: center;
}
.contact-block {
    margin: 2rem 1rem;
    padding-left: 1rem;
    padding-bottom: .2rem;
    font-size: 2rem;
    border-left: .6rem solid black;
}
/* -- CONTACT END -- */